@import url(https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&display=swa);

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  tsx {
    font-family: "Cherry Bomb One", sans-serif;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
